<section>
  <h1>Hire Us</h1>
  <p>Looking for someone to turn your iPhone or iPad app idea into the next knock-out success in the app store?  <a href="http://www.focalshift.com">Contact us</a> to learn how we can help.</p>
  <h1>About Me</h1>
  <p>My name is Bennett Smith. I’m pleased to welcome you to my site, and hope you come back often. Information about my professional experience, details on how I can help you with your projects and general ramblings about the technologies I use are published here.</p>
  <p>Feel free to surf around and see if you like what’s on my site. I have some strong opinions about software development. Comments are encouraged so please don’t be shy.</p>
</section>
